<h1>Parks Index</h1>

<br>
<%= link_to 'New Park', '/parks/new' %>
<br><br>

<% @parks.each do |park| %>
  <h3><%= park.name %></h3>
  <p>Created At: <%= park.created_at %></p>
  <%= link_to "Edit #{park.name}", "/parks/#{park.id}/edit" %>&nbsp;
  <%= link_to "Delete #{park.name}", "/parks/#{park.id}", method: :delete %>&nbsp;

  <br><br>
  <% end %>
