<a href="/parks">Parks Index</a>
<a href="/trails">Trails Index</a>

<h1><%= link_to @park.name, "/parks/#{@park.id}/trails" %></h1>
<p>State: <%= @park.state %></p>
<p>County: <%= @park.county %></p>
<p>Parking Fee: $<%= @park.parking_fee %></p>
<p>Dogs Allowed: <%= @park.dogs_allowed %></p>
<p><%= @park.trails.length %> Trails</p>
