<h1><%= link_to @park.name, "/parks/#{@park.id}/trails" %></h1>

<br>
<p>State: <%= @park.state %></p>
<p>County: <%= @park.county %></p>
<p>Parking Fee: $<%= @park.parking_fee %></p>
<p>Dogs Allowed: <%= @park.dogs_allowed %></p>
<p><%= @park.trails_count %> Trails</p>
<br>

<%= link_to 'Update Park', "/parks/#{@park.id}/edit" %>&nbsp;
<%= link_to 'Delete Park', "/parks/#{@park.id}", method: :delete %>
