<h1><%= @park.name %></h1>

<br>
<h2>Trails Index</h2>

<%= link_to 'Create Trail', "/parks/#{@park.id}/trails/new" %>&nbsp;
<%= link_to 'Sort Alphabetically', "/parks/#{@park.id}/trails?sorted=true" %>&nbsp;
<br><br>

<%= form_with url: "/parks/#{@park.id}/trails?elevation_gain=#{params[:elevation_gain]}", method: :get, local: true do |form| %>
  <%= form.label :elevation_gain, 'Elevation Gain:' %>
  <%= form.number_field :elevation_gain %>

  <%= form.submit 'Filter Trails' %>
<% end %>

<% @trails.each do |trail| %>
  <h3><%= trail.name %></h3>
  <p>Length: <%= trail.length %></p>
  <p>Elevation Gain: <%= trail.elevation_gain %></p>
  <p>Loop: <%= trail.loop %></p>
  <%= link_to "Edit #{trail.name}", "/trails/#{trail.id}/edit" %>
  <br><br>
<% end %>
