<div class="col-6">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page">All Skis</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/skis/new">Create Ski</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/skis?sort=alpha">Sort Alphabetically</a>
    </li>
  </ul>
</div>
<div class="row justify-content-center">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>For Jumps?</th>
          <th>Turn Radius</th>
          <th>Edit</th>
        </tr>
      </thead>
      <% @skis.each do |ski| %>
      <tr id="<%=ski.name%>">
        <td><%= ski.name %></td>
        <td><%= ski.for_jumps %></td>
        <td><%= ski.turn_radius %></td>
        <td><%= link_to "edit", "/skis/#{ski.id}/edit" %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
