<h5><%= @ski.name %></h5>
<p><%= @ski.for_jumps %></p>
<p><%= @ski.turn_radius %></p>
<%= link_to "Update", "/skis/#{@ski.id}/edit",:class => "btn btn-primary" %>
<%= link_to "Delete", "/skis/#{@ski.id}", method: :delete,:class => "btn btn-danger float-right" , data: { confirm: 'Are you sure?'} %>