<div style="padding-left:20px;">
  <h1><%= link_to "REGION:  #{@region.name}", "/regions/#{@region.id}" %></h1>

  <form style="float:left;" action= <%= "/regions/#{@region.id}/resorts/new" %>>
    <input type="submit" value="Create Resort"/>
  </form>
  <br><br><br>

  <h3 style="float:left; padding-right:10px;"><em>All Resorts:</em></h3>
  <h4 style="float:left; padding-top:3px;"><%= link_to "Sort Alphabetically", "/regions/#{@region.id}/resorts?sorted=true" %></h4>
  <br><br>

  <div style="float:left;">
    <%= form_with url: "/regions/#{@region.id}/resorts?ttm_revenue_usd=#{params[:ttm_revenue_usd]}", method: :get, local: true do |form| %>
      <%= form.label :ttm_revenue_usd, 'Minimum Revenue Threshold ($MM):' %>
      <%= form.select :ttm_revenue_usd, (0..1000).step(100).to_a, selected: 0 %>
      <br>
      <%= form.submit 'Filter Resorts' %>
    <% end %>
  </div>
  <br><br>
  <br><br>

  <% @resorts.each do |resort| %>
    <h5 style="float:left;"><%= link_to resort.name, "/resorts/#{resort.id}" %></h5>
    <br><br>
    <p>State/Province: <%= resort.state_province %></p>
    <p>Country: <%= resort.country %></p>
    <p>Currently Active: <%= resort.active %></p>
    <p>Director of Operations: <%= resort.director_operations %></p>
    <p>Last 12 Months Total Revenue ($MM): <%= (resort.ttm_revenue_usd.to_i / 1000000.to_f).round(1) %></p>
    <p>Created At: <%= resort.created_at %></p>
    <p>Last Updated At: <%= resort.updated_at %></p>
    <form style="float:left; padding-right:5px;" action= <%= "/resorts/#{resort.id}/edit" %>>
      <input type="submit" value="Update Resort"/>
    </form>
    <%= button_to 'Delete Resort', "/resorts/#{resort.id}", method: :delete %>
    <br><br>
  <% end %>
</div>
