<div style="padding-left:5px;">
  <h1><%= link_to "REGION:  #{@region.name}", "/regions/#{@region.id}" %></h1>

  <form style="float:left;" action= <%= "/regions/#{@region.id}/resorts/new" %>>
    <input type="submit" value="Create Resort"/>
  </form>
  <br><br><br>

  <h3><em>All Resorts:</em></h3>
  <br>

  <% @resorts.each do |resort| %>
    <h5><%= link_to resort.name, "/resorts/#{resort.id}" %></h5>
    <p>State/Province: <%= resort.state_province %></p>
    <p>Country: <%= resort.country %></p>
    <p>Currently Active: <%= resort.active %></p>
    <p>Director of Operations: <%= resort.director_operations %></p>
    <p>Last 12 Months Total Revenue ($MM): <%= (resort.ttm_revenue_usd / 1000000.to_f).round(1) %></p>
    <p>Created At: <%= resort.created_at %></p>
    <p>Last Updated At: <%= resort.updated_at %></p>
    <br>
  <% end %>
</div>
