<div style="padding-left:20px;">
  <h1><%= link_to "REGION:  #{@region.name}", "/regions/#{@region.id}" %></h1>

  <form style="float:left;" action= <%= "/regions/#{@region.id}/resorts/new" %>>
    <input type="submit" value="Create Resort"/>
  </form>
  <br><br><br>

  <h3 style="float:left; padding-right:10px;"><em>All Resorts:</em></h3>
  <h4 style="float:left; padding-top:3px;"><%= link_to "Sort Alphabetically", "/regions/#{@region.id}/resorts?sorted=true" %></h4>
  <br><br><br>

  <% @resorts.each do |resort| %>
    <h5 style="float:left; padding-top:4px; padding-right:10px;"><%= link_to resort.name, "/resorts/#{resort.id}" %></h5>
    <form style="float:left; padding-top:2px;" action= <%= "/resorts/#{resort.id}/edit" %>>
      <input type="submit" value="Update Resort"/>
    </form>
    <br><br>
    <p>State/Province: <%= resort.state_province %></p>
    <p>Country: <%= resort.country %></p>
    <p>Currently Active: <%= resort.active %></p>
    <p>Director of Operations: <%= resort.director_operations %></p>
    <p>Last 12 Months Total Revenue ($MM): <%= (resort.ttm_revenue_usd.to_i / 1000000.to_f).round(1) %></p>
    <p>Created At: <%= resort.created_at %></p>
    <p>Last Updated At: <%= resort.updated_at %></p>
    <br>
  <% end %>
</div>
