<form style="float:left; padding-top:5px;" action="/regions">
  <input type="submit" value="Regions Index"/>
</form>
<br><br>

<%= link_to 'View All Resorts', "/regions/#{@region.id}/resorts" %>


<h1><%= @region.name %></h1>

<p>Priority: <%= @region.priority %></p>
<p>Currently Active: <%= @region.active %></p>
<p>RVP of Operations: <%= @region.rvp_operations %></p>
<p>Created At: <%= @region.created_at %></p>
<p>Last Updated At: <%= @region.updated_at %></p>
