<!-- <form style="float:left; padding-top:5px;" action="/regions">
  <input type="submit" value="Regions Index"/>
</form>
<br><br> -->


<h1><%= @region.name %></h1>
<% if @region.resorts.length == 1 %>
  <%= link_to "View All (#{@region.resorts.length}) Resort", "/regions/#{@region.id}/resorts" %>
<% else %>
  <%= link_to "View All (#{@region.resorts.length}) Resorts", "/regions/#{@region.id}/resorts" %>
<% end %>

<p>Priority: <%= @region.priority %></p>
<p>Currently Active: <%= @region.active %></p>
<p>RVP of Operations: <%= @region.rvp_operations %></p>
<p>Created At: <%= @region.created_at %></p>
<p>Last Updated At: <%= @region.updated_at %></p>
