<div style="padding-left:20px;">
  <h1><%= "REGION:  #{@region.name}" %></h1>
  <form style="float:left;" action= <%= "/regions/#{@region.id}/edit" %>>
    <input type="submit" value="Update Region"/>
  </form>
  <br><br><br>

  <% if @region.resort_count == 1 %>
    <strong><%= link_to "View All (#{@region.resort_count}) Resort", "/regions/#{@region.id}/resorts" %></strong>
  <% else %>
    <strong><%= link_to "View All (#{@region.resort_count}) Resorts", "/regions/#{@region.id}/resorts" %></strong>
  <% end %>
  <br><br>

  <p>Priority: <%= @region.priority %></p>
  <p>Currently Active: <%= @region.active %></p>
  <p>RVP of Operations: <%= @region.rvp_operations %></p>
  <p>Created At: <%= @region.created_at %></p>
  <p>Last Updated At: <%= @region.updated_at %></p>
</div>
