<div style="padding-left:20px;">
  <h1>Resorts Index</h1>
  <br>

  <% @resorts.each do |resort| %>
    <h4><%= link_to resort.name, "/resorts/#{resort.id}" %></h4>
    <p>State/Province: <%= resort.state_province %></p>
    <p>Country: <%= resort.country %></p>
    <p>Currently Active: <%= resort.active %></p>
    <p>Director of Operations: <%= resort.director_operations %></p>
    <p>Last 12 Months Total Revenue ($MM): <%= (resort.ttm_revenue_usd.to_i / 1000000.to_f).round(1) %></p>
    <p>Created At: <%= resort.created_at %></p>
    <p>Last Updated At: <%= resort.updated_at %></p>
    <br><br>
  <% end %>
</div>
