<div style="padding-left:20px;">
  <h2><%= "Resort: #{@resort.name}" %></h2>
  <form style="float:left;" action= <%= "/resorts/#{@resort.id}/edit" %>>
    <input type="submit" value="Update Resort"/>
  </form>
  <br><br>

  <p>State/Province: <%= @resort.state_province %></p>
  <p>Country: <%= @resort.country %></p>
  <p>Currently Active: <%= @resort.active %></p>
  <p>Director of Operations: <%= @resort.director_operations %></p>
  <p>Last 12 Months Total Revenue ($MM): <%= (@resort.ttm_revenue_usd / 1000000.to_f).round(1) %></p>
  <p>Created At: <%= @resort.created_at %></p>
  <p>Last Updated At: <%= @resort.updated_at %></p>
</div>
