<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <!-- Need to add rspec assertions in app_spec for these (user stories 8-10) -->
    <%= link_to "Parks Index", "/parks" %>&nbsp;
    <%= link_to "Trails Index", "/trails" %>&nbsp;
    <%= link_to "Regions Index", "/regions" %>&nbsp;
    <%= link_to "Resorts Index", "/resorts" %>&nbsp;
    <%= link_to "Ski Brands Index", "/ski_brands" %>&nbsp;
    <%= link_to "Skis Index", "/skis" %>&nbsp;
    <%= yield %>
  </body>
</html>
